<h1><%= @survey.name %></h1>
<h3>Percentage of survey completed: </h3>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%=@percent_complete%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@percent_complete%>%;">
    <%= @percent_complete%>%
  </div>
</div>

<% if session[:question_index] < @survey.questions.length %>

<h3> <%= @survey.questions[session[:question_index]].question %> </h3>

<form action='/nextquestion/<%= @survey.id %>' method='post'>

  <% @survey.questions[session[:question_index]].answers.each do |answer| %>
    <input type="radio" name='answer_id' id='<%= answer.id %>' value='<%= answer.id %>'><%= answer.answer %>
    <br>
  <% end %>
  <button type='submit'>Next question</button>

</form>

<% else %>
Done!
<% end %>
